java/src/main/java/com/actimem/example/xml/examples/schema/mixed.xsd

<?xml version="1.0"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.actimem.com/mixed"
        targetNamespace="http://www.actimem.com/mixed"
        elementFormDefault="qualified">

    <xs:element name="person">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="age" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" />
        </xs:complexType>
    </xs:element>
</xs:schema>