projects/jaxb/src/main/java/com/actimem/blog/jaxb/basicannotated/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="super-company" type="companyType"/>

  <xs:complexType name="companyType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="founded" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="default-prob" type="xs:double"/>
      <xs:element name="rank" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>
</xs:schema>

