projects/jaxb/src/main/java/com/actimem/blog/jaxb/xmlattribute/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="attributeExample" type="attributeExample"/>

  <xs:complexType name="attributeExample">
    <xs:sequence/>
    <xs:attribute name="defaultAttribute" type="xs:string"/>
    <xs:attribute name="named-attribute" type="xs:string"/>
    <xs:attribute name="requiredAttribute" type="xs:string" use="required"/>
    <xs:attribute name="optionalAttribute" type="xs:string"/>
  </xs:complexType>
</xs:schema>

